<div class="wrapper">
  <app-simple-block>
    <img left class="image" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/219764456.jpg?k=a43d21a2e10197c9f47c7dd6710c03637784376e33767ba12c24fb1e4a5ed7f8&o=&hp=1"/>
    <span center>Az egyházi szertartás után a mozsgói Ebner pincészet felé vesszük az irányt. Az utazás idő előreláthatólag nem lesz több 5-10 percnél. Parkolási lehetőség az Ebner pincészet saját parkolójában van. Érkezés után bőven lesz idő felfrissülni, fogyasztani enni és innivalókat. A polgári szertartás 17:30 körül fog elkezdődni a pincészet fedett teraszán. A szertartás alatt lesz lehetőség helyet foglalni és megcsodálni a pincészet meletti gyönyörű tájat. A szertartást Mozsgó anyakönyvvezetője fogja levezetni. Az igenek és a gratulációk után lesz lehetőség a fotósunk segítségével, aki szeretne, kérhet közös képet velünk. Mindezek után helyet tudunk foglalni a teremben, ahol a vacsorát felszolgálják.</span>
    <img right class="image" src="https://i.szalas.hu/hotels/1272275/original/33035933.jpg"/>
  </app-simple-block>
  <app-split-block>
    <div class="col-sm d-flex justify-content-center">
      <iframe width="400" height="400" id="gmap_canvas" src="https://www.google.com/maps/embed?origin=mfe&pb=!1m3!2m1!1smozsg%C3%B3+ebner+pinc%C3%A9szet!6i15" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi quis commodo odio aenean sed adipiscing diam. In cursus turpis massa tincidunt dui ut ornare lectus. Pulvinar sapien et ligula ullamcorper malesuada. Diam in arcu cursus euismod quis viverra. A scelerisque purus semper eget duis at tellus at urna. Nibh sed pulvinar proin gravida hendrerit. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Interdum posuere lorem ipsum dolor sit amet consectetur. Tellus at urna condimentum mattis pellentesque id nibh tortor id. Scelerisque viverra mauris in aliquam sem. Quis viverra nibh cras pulvinar mattis. Leo vel orci porta non.</div>
    </div>
  </app-split-block>
</div>
