<div class="wrapper">
  <app-simple-block>
    <div class="unit col-xl d-flex justify-content-center">
      <img class="image-horizontal" src="assets/images/civil1.jpg"/>
    </div>
    <div class="text-unit col-md-12 col-xl d-flex justify-content-center">
      <div>
        <div class="text-block">
          Az egyházi szertartás után a mozsgói Ebner Pincészet felé vesszük az irányt.
        </div>
        <div class="text-block">
          Az utazási idő előreláthatólag nem lesz több 10 percnél. Érkezés után bőven lesz idő felfrissülni, fogyasztani enni-és innivalókat, majd elfoglalni a helyeteket. A polgári szertartás 17:30 után fog kezdődni a Pincészet fedett teraszán. Erről a teraszról lehetőség van megcsodálni a Pincészet meletti gyönyörű tájat, mely minket azonnal elvarázsolt.❤
        </div>
        <div class="text-block">
          A szertartást Mozsgó anyakönyvvezetője fogja levezetni. Az igenek és a gratulációk után lesz lehetőség fotózkodni. Mindezek után helyet tudunk foglalni a teremben, ahol a vacsorát felszolgálják, utána pedig kezdetét veheti a buli, ami hajnali 4-ig fog tartani. 🥳
        </div>
      </div>
    </div>
    <div class="unit col-xl d-flex justify-content-center">
      <img class="image-horizontal" src="assets/images/civil2.jpg"/>
    </div>
  </app-simple-block>
  <app-split-block>
    <div class="unit col-sm d-flex justify-content-center">
      <iframe class="map" id="gmap_canvas" src="https://www.google.com/maps/embed?origin=mfe&pb=!1m3!2m1!1smozsg%C3%B3+ebner+pinc%C3%A9szet!6i15" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <div class="text-unit col-sm d-flex justify-content-center">
      <div class="parking align-self-center">
        <div>
          <div class="text-block">
            A templomi szertartás után remélhetőleg együtt tudunk majd elindulni Mozsgó felé, mégis szeretnénk itt is már ismertetni Veletek az útvonalat. Ha esetleg elszakadnánk egymástól, akkor is tudja mindenki, hová kell érkezni. 🚘
          </div>
          <div class="text-block">
            Pontos cím: 7932 Mozsgó, 680/4 hrsz.
          </div>
          <div class="text-block">
            Parkolási lehetőség pedig az Ebner Pincészet saját parkolójában van, melyen kifejezetten nagy, így mindenki gond nélkül le fog tudni parkolni.
          </div>
        </div>
        <div class="col-sm d-flex justify-content-center parking-img">
          <img class="image-horizontal" src="assets/images/civil-parking.jpg"/>
        </div>
      </div>
    </div>
  </app-split-block>
</div>
