<div class="custom-shape-divider-bottom-1665931699">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill"></path>
  </svg>
</div>
<div class="container block">
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <ng-content select="[left]"></ng-content>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <ng-content select="[right]"></ng-content>
    </div>
  </div>
</div>
<div class="custom-shape-divider-top-1665931675">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill"></path>
  </svg>
</div>
