@import "../style/global";
//@import "../node_modules/bootstrap/scss/bootstrap";

.block {
  background: $base-color;
}
//
.custom-shape-divider-bottom-1665931699 {
  //position: absolute;
  //bottom: 0;
  //left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1665931699 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1665931699 .shape-fill {
  fill: $base-color;
}
//
.custom-shape-divider-top-1665931675 {
  //position: absolute;
  //top: 0;
  //left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1665931675 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1665931675 .shape-fill {
  fill: $base-color;
}
