@import "../style/global";
@import "node_modules/bootstrap/scss/bootstrap";

.block {
  background: $base-color-light;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}
//
.custom-shape-divider-bottom-1665931699 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1665931699 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1665931699 .shape-fill {
  fill: $base-color-light;
}
//
.custom-shape-divider-top-1665931675 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1665931675 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1665931675 .shape-fill {
  fill: $base-color-light;
}
