<app-simple-block [centerAlign]="true">
  <div style="width: 80%">
    <p>{{ 'gallery.warning1' | translate }}</p>
    <gallery class="col d-flex justify-content-center"
      [metadataUri]="'/assets/config/gallery-config.json'"
      [flexImageSize]="7"
    ></gallery>
  </div>
</app-simple-block>
<app-simple-block [centerAlign]="true">
  <p style="width: 80%">{{ 'gallery.warning2' | translate }}</p>
</app-simple-block>
<app-simple-block [centerAlign]="true">
  <a target="_blank" href="https://drive.google.com/drive/folders/1gaTA5DZVNPxHPSVQy3C_9R_TuPgrwpRa?usp=sharing" class="gallery-button">{{ 'gallery.gallery-button' | translate }}</a>
</app-simple-block>
<app-split-block>
  <iframe src="<URL>" width="640" height="480" allow="autoplay"></iframe>
</app-split-block>
