@import "../style/global";

.custom-shape-divider-bottom-1665758100 {
  //position: absolute;
  //bottom: 0;
  //left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665758100 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1665758100 .shape-fill {
  fill: $base-color;
}

//
.custom-shape-divider-top-1665758140 {
  //position: absolute;
  //top: 0;
  //left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665758140 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1665758140 .shape-fill {
  fill: $base-color;
}

//

.block {
  background: $base-color;
}
