<div class="wrapper">
  <app-simple-block>
    <div class="unit col-xl d-flex justify-content-center align-self-center">
      <img class="image-horizontal-big" src="../../assets/church1.jpg"/>
    </div>
    <div class="text-unit col-xl d-flex justify-content-center">
      <div>
        <div class="text-block">{{ 'church.block1.line1' | translate }}</div>
        <div class="text-block">{{ 'church.block1.line2' | translate }}</div>
        <div class="text-block">{{ 'church.block1.line3' | translate }}</div>
        <div class="text-block">{{ 'church.block1.line4' | translate }}</div>
        <div class="text-block">{{ 'church.block1.line5' | translate }}</div>
      </div>
    </div>
  </app-simple-block>
  <app-split-block>
    <div class="unit col-sm d-flex justify-content-center">
      <iframe class="map" id="gmap_canvas" src="https://maps.google.com/maps?q=szigetv%C3%A1r%20szent%20r%C3%B3kus&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <div class="unit col-sm d-flex justify-content-center">
      <div class="align-self-center">
        <div class="text-block">{{ 'church.block2.line1' | translate }}</div>
        <div class="text-block">{{ 'church.block2.line2' | translate }}</div>
        <div class="text-block">{{ 'church.block2.line3' | translate }}</div>
        <div class="text-block">{{ 'church.block2.line4' | translate }}</div>
      </div>
    </div>
  </app-split-block>
  <app-simple-block>
    <div class="text-unit col-xl d-flex justify-content-center">
      <div>
        <div class="text-block">{{ 'church.block3.line1' | translate }}</div>
        <div class="text-block">{{ 'church.block3.line2' | translate }}</div>
        <div class="text-block">{{ 'church.block3.line3' | translate }}</div>
        <div class="text-block">{{ 'church.block3.line4' | translate }}</div>
      </div>
    </div>
    <div class="unit col-xl d-flex justify-content-center align-self-center">
      <img class="image-horizontal-big" src="../../assets/church2.jpg"/>
    </div>
  </app-simple-block>
</div>
