<div class="wrapper">
  <app-simple-block>
    <img left class="image" src="https://img2.oastatic.com/img2/46793338/max/szigetvar-ali-pasa-dzsamija-szent-rokus-templom-.jpg"/>
    <span center>Amennyiben nem találkozunk az Ebner pincészetben az egyházi szertartás előtt, akkor várunk benneteket Szigetváron a Szent Rókus-templomban. A katolikus szentmise 16 órakor kezdődik és előreláthatóan 50 perces lesz. A templomban az oltárral szemben, illetve annak jobb és bal oldalán is helyet lehet foglalni, szóval jut hely bőven mindenkinek. A templom, ahogy a képen is látható, egy szép, tágas téren helyezkedik el. Így a kicsik, ha esetleg nem tudják kivárni a szertartás végét, akkor is szüleikkel, kellemesen eltölthetik az időt, hiszen részesei lehetnek egy kellemes városnézésnek. A szentmise után sem kell majd sietnünk, lesz lehetőségünk a templom előtt fotózkodni. Kérjük, hogy rizs- vagy sziromszórással senki ne készüljön a tempolon belül vagy azon kívül.</span>
    <img right class="image" src="https://szigetvar.kornyeke.hu/fotok/tartalom/9/8674-200811112021275002.jpg"/>
  </app-simple-block>
  <app-split-block>
    <div right>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi quis commodo odio aenean sed adipiscing diam. In cursus turpis massa tincidunt dui ut ornare lectus. Pulvinar sapien et ligula ullamcorper malesuada. Diam in arcu cursus euismod quis viverra. A scelerisque purus semper eget duis at tellus at urna. Nibh sed pulvinar proin gravida hendrerit. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Interdum posuere lorem ipsum dolor sit amet consectetur. Tellus at urna condimentum mattis pellentesque id nibh tortor id. Scelerisque viverra mauris in aliquam sem. Quis viverra nibh cras pulvinar mattis. Leo vel orci porta non.
    </div>
    <iframe left width="400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=szigetv%C3%A1r%20szent%20r%C3%B3kus&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </app-split-block>
</div>
