<div class="wrapper">
  <app-simple-block>
    <div class="unit col-xl d-flex justify-content-center align-self-center">
      <img class="image-horizontal-big" src="assets/images/church1.jpg" />
    </div>
    <div class="text-unit col-xl d-flex justify-content-center">
      <div>
        <div class="text-block">
          A templomi szertartás előtt, amennyiben szeretnétek, alkalmatok lesz elfoglalni a szobátokat a Pincészetben, kávézni vagy csak kicsit lepihenni, mielőtt a templom felé vennétek az irányt.
        </div>
        <div class="text-block">
          Amennyiben nem találkozunk az Ebner Pincészetben az egyházi szertartás előtt, várunk Benneteket Szigetváron a Szent Rókus templomban. A katolikus szentmise 16 órakor kezdődik és körülbelül 50 perces lesz. A templomban az oltárral szemben, illetve annak jobb és bal oldalán is helyet lehet majd foglalni, szóval jut hely bőven mindenkinek. 😉
        </div>
        <div class="text-block">
          A templom, ahogy a képen is látható, egy szép, tágas téren helyezkedik el, így a kicsi gyerekekkel lehetőség adódik közvetlenül a templom mellett kellemesen eltölteni az időt, ha esetleg nem tudják kivárni a szertartás végét.
        </div>
        <div class="text-block">
          A szentmise után sem kell majd sietnünk, lesz lehetőség a templom előtt fotózkodni. Kérjük, hogy rizs- vagy sziromszórással senki ne készüljön a templomon belül vagy azon kívül.
        </div>
        <div class="text-block">
          A következő pár sorban szeretnénk veletek ismertetni a parkolási lehetőségeket, majd a templom történetét, melyet mi nagyon érdekesnek találtunk.😍
        </div>
      </div>
    </div>
  </app-simple-block>
  <app-split-block>
    <div class="unit col-sm d-flex justify-content-center">
      <iframe class="map" id="gmap_canvas" src="https://maps.google.com/maps?q=szigetv%C3%A1r%20szent%20r%C3%B3kus&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <div class="unit col-sm d-flex justify-content-center">
      <div class="align-self-center">
        <div class="text-block">
          Pontos cím: 7900 Szigetvár, Zrínyi tér 9.
        </div>
        <div class="text-block">
          Parkolási lehetőségek:
        </div>
        <div class="text-block">
          Több parkolási lehetőség közül is lehet választani. A templom közelében, a Zárda utcában egy nagyobb parkoló található, amely hétvégén, tapasztalatunk alapján, általában nem túl zsúfolt, így sokan elfértek majd autóitokkal.
        </div>
        <div class="text-block">
          Ezen kívül az Olay Lajos és a József Attila utca sarkán is található egy nagyobb férőhellyel rendelkező parkoló, de a József Attila utca bizonyos szakaszán az út szélén is meg szabad állni.
        </div>
      </div>
    </div>
  </app-split-block>
  <app-simple-block>
    <div class="text-unit col-xl d-flex justify-content-center">
      <div>
        <div class="text-block">
          Ez a katolikus templom az egyik a két, Szigetváron található dzsámi közül.
          A templom a Zrínyi téren található, amely épület több szempontból sem mindennapi. Az
          alaprajza is eltér a megszokottól, szamárhátíves ablakai pedig utalnak a keleti múltjára. Szigetvár
          elfoglalását követően Müezzinzáde Ali kezdte építtetni a templomot, akkor még dzsámit. Ali
          pasa elesett 1571-ben, de a dzsámit tovább építették és 1589-re elkészült. Ezt követően
          száz évig, egészen Szigetvár visszafoglalásáig muszlim hitélet zajlott benne.
        </div>
        <div class="text-block">
          Ezután a dzsámit előbb lőportárként használták, majd 1788-ban katolikus templommá
          szentelték fel Szent Rókus tiszteletére, és kívül-belül átalakították. Az épület mellett levő
          minaret 1715-ben semmisült meg, mikor villám csapott belé. Az előcsarnokot és a
          négyszöglet alaprajzú épületet záró kupolát is elbontották, a szamárhátíves ablakokat pedig
          barokkos jellegűvé alakították át.
        </div>
        <div class="text-block">
          A templomot az 1980-as években újították fel, amely során megtartották a török
          stílusjegyeket, ennek köszönhetően felismerhetők a szamárhátíves ablakok, a
          templombelsőben pedig a sarkokban sztalaktit díszítések.
        </div>
        <div class="text-block">
          A kupolában egy barokk stílusú műalkotás, Dorffmeister István freskója látható. A
          szenteltvíztartó pedig az egykori török fürdőből származik.
        </div>
      </div>
    </div>
    <div class="unit col-xl d-flex justify-content-center align-self-center">
      <img class="image-horizontal-big" src="assets/images/church2.jpg" />
    </div>
  </app-simple-block>
</div>
