@import "../../../style/global";
@import "node_modules/bootstrap/scss/bootstrap";

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu-line {
  background-color: $base-color;
  width: 100%;
  max-width: 100%;
  //display: flex;
}

.nav-bar {
  height: 60px;
  padding: 10px;
}

.menu-button {
  height: 50px;
}

.menu-button-text {
  font-family: $menu-font;
  font-size: 2rem;
  color: black;
}

.hamburger-menu-button {
  font-family: $menu-font;
  font-size: 1.5rem;
  color: black;
}

.menu-img {
  width: 145px !important;
  position: fixed;
  top: 10px;
  left: 10px;
}

.title-box {
  margin-top: 10px !important;
}

.title {
  font-family: $title-font;
  font-size: 5em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-small {
  font-family: $title-font;
  font-size: 4em;
  padding-top: 25px;
  padding-bottom: 25px;
}

.language-selector {
  position: absolute;
  top: 3px;
  right: 15px;
}

.language-selector-button {
  margin: 3px;
}

.language-selector-button:hover {
  cursor: pointer;
}

.date {
  position: fixed;
  top: 75px;
  right: 50px;
  font-family: $menu-font;
  font-size: 2rem;
}

.date-small {
  position: fixed;
  top: 70px;
  right: 15px;
  font-family: $menu-font;
  font-size: 1.5rem;
}

//
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

//

.custom-shape-divider-top-1665417664 {
  position: fixed;
  top: -10;
  //left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665417664 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1665417664 .shape-fill {
  fill: $base-color;
}
