//$base-color: #007FFF;
$base-color: #60aff8;
//$base-color: #2E5EAA;
$base-color-dark: #438dad;
$base-color-light: #d8f3ff;
$title-font: FleurDeLeah;
$menu-font: GreatVibes;

.unit {
  margin: 10px;
  max-width: 800px;
}

.text-unit {
  max-width: 800px;
  margin: 10px;
}

.image-horizontal {
  border: 2px outset $base-color-dark;
  max-width: 375px;
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 50%;
}

.image-vertical {
  border: 2px outset $base-color-dark;
  max-width: 400px;
  width: 100%;
  height: auto;
  max-height: 600px;
  border-radius: 50%;
}

.image-horizontal-big {
  border: 2px outset $base-color-dark;
  max-width: 600px;
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 50%;
}

.text-block {
  max-width: 600px;
  margin: 10px;
}

.map {
  width: 100%;
  max-width: 600px;
  min-height: 500px;
}
