<app-simple-block>
  <div class="unit col-xl d-flex justify-content-center align-self-center">
    <img class="image-horizontal-big" src="../../assets/accommodation.jpg"/>
  </div>
  <div class="text-unit col-xl d-flex justify-content-center">
    <div>
      <div class="text-block">{{ 'accommodation.main.line1' | translate }}</div>
      <div class="text-block">{{ 'accommodation.main.line2' | translate }}</div>
      <div class="text-block">{{ 'accommodation.main.line3' | translate }}</div>
      <div class="text-block">{{ 'accommodation.main.line4' | translate }}</div>
      <div class="text-block">
        <a href="https://ebnerpanzio.hu/">https://ebnerpanzio.hu/</a>
      </div>
      <div class="text-block">
        <a href="tel:+36-20/333-73-31"><mat-icon>phone</mat-icon>+36-20/333-73-31</a>
      </div>
      <div class="text-block">
        <a href="tel:+36-20/333-53-06"><mat-icon>phone</mat-icon>+36-20/333-53-06</a>
      </div>
    </div>
  </div>
</app-simple-block>
<app-split-block>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/accommodation-main1.jpg"/>
  </div>
  <div class="text-unit col-xl d-flex justify-content-center">
    <div class="block">
      <h2>{{ 'accommodation.building1.name' | translate }}</h2>
      <span>{{ 'accommodation.building1.description' | translate }}</span>
    </div>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/accommodation-main2.jpg"/>
  </div>
</app-split-block>
<app-simple-block>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/accommodation-csacsi1-1.jpg"/>
  </div>
  <div class="text-unit col-xl d-flex justify-content-center">
    <div class="block">
      <h2>{{ 'accommodation.building2.name' | translate }}</h2>
      <span>{{ 'accommodation.building2.description' | translate }}</span>
    </div>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/accommodation-csacsi1-2.jpg"/>
  </div>
</app-simple-block>
<app-split-block>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/accommodation-csacsi2-1.jpg"/>
  </div>
  <div class="text-unit col-xl d-flex justify-content-center">
    <div class="block">
      <h2>{{ 'accommodation.building3.name' | translate }}</h2>
      <span>{{ 'accommodation.building3.description' | translate }}</span>
    </div>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/accommodation-csacsi2-2.jpg"/>
  </div>
</app-split-block>
