/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0 !important;
}

* {
  font-family: LibreBaskerville, serif;
}

@font-face {
  font-family: "ComforterBrush";
  src: local("ComforterBrush"), url(./app/fonts/ComforterBrush-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "LibreBaskerville";
  src: local("LibreBaskerville"), url(./app/fonts/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FleurDeLeah";
  src: local("LibreBaskerville"), url(./app/fonts/FleurDeLeah-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "GreatVibes";
  src: local("GreatVibes"), url(./app/fonts/GreatVibes-Regular.ttf) format("truetype");
}

html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}
