/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0 !important;
}

* {
  font-family: LibreBaskerville, serif;
}

@font-face {
  font-family: "ComforterBrush";
  src: local("ComforterBrush"), url(/assets/fonts/ComforterBrush-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "LibreBaskerville";
  src: local("LibreBaskerville"), url(/assets/fonts/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FleurDeLeah";
  src: local("LibreBaskerville"), url(/assets/fonts/FleurDeLeah-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "GreatVibes";
  src: local("GreatVibes"), url(/assets/fonts/GreatVibes-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Twemoji";
  src: local("Twemoji"), url(/assets/fonts/Twemoji.Mozilla.ttf) format("truetype");
}

html, body {
  height: 100%;
  overflow-x: clip;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
