@import "../style/global";
@import "node_modules/bootstrap/scss/bootstrap";

.left-image {
  height: 120px;
}

.right-image {
  height: 120px;
  transform: scaleX(-1);
}

.quote {
  width: 340px !important;
}

.quote-line {
  font-family: $menu-font;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1;
}

.author {
  font-family: $title-font;
  font-size: 2rem;
  padding: 10px;
  text-align: right;
}

.slider-col {
  width: 100%;
}

.slider {
  width: 80%;
}
