<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img src="../../assets/grape.png" class="left-image d-none d-lg-block">
      <div class="quote">
        <div class="quote-line">{{ 'home.quote.line1' | translate }}</div>
        <div class="quote-line">{{ 'home.quote.line2' | translate }}</div>
        <div class="quote-line">{{ 'home.quote.line3' | translate }}</div>
        <div class="quote-line">{{ 'home.quote.line4' | translate }}</div>
        <div class="author">{{ 'home.quote.author' | translate }}</div>
      </div>
      <img src="../../assets/grape.png" class="right-image d-none d-lg-block">
    </div>
  </div>
</div>
<app-split-block>
  <div class="text-unit col-md-12 col-xl d-flex justify-content-center">
    <div>
      <div class="text-block greeting">
        Sok szeretettel köszöntünk az esküvői honlapunkon!
      </div>
      <div class="text-block">
        Azért hoztuk létre ezt az oldalt, hogy több információt, hasznos tudnivalót meg tudjunk osztani Veletek a nagy nappal kapcsolatban!
      </div>
      <div class="text-block">
        Külön menüpontokba szedtük az egyházi és polgári szertartás részleteit, ismertetjük a parkolási lehetőségeket és azt, hogyan és milyen szállást tudtok a helyszínen foglalni.
      </div>
      <div class="text-block">
        De ne szaladjunk ennyire előre. 🙂 Mesélünk kicsit a kezdetekről.
      </div>
    </div>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/home1.jpg"/>
  </div>
  <div class="text-unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/home2.jpg"/>
  </div>
</app-split-block>
<app-simple-block>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-vertical" src="../../assets/home3.jpg"/>
  </div>
  <div class="text-unit col-md-12 col-xl d-flex justify-content-center">
    <div>
      <div class="text-block">
        2021 szilvesztere egy igazán emlékezetes ünnep volt számunkra, nem sokkal éjfél előtt volt az eljegyzésünk. A 2022-es év elejétől gondolkodunk azon, milyen is legyen az esküvőnk, kezdve a helyszíntől egészen a legapróbb részletekig.
      </div>
      <div class="text-block">
        Az esküvő komolyabb szervezésének kezdete idén tavaszra tehető, mikor is elkészültek az eljegyzési fotóink, melyek közül a kedvenceinket mutatjuk meg Nektek is itt a honlapon.
      </div>
      <div class="text-block">
        Az elmúlt években mindennapjainkat mind a ketten Pécsett töltöttük, így egyértelmű volt számunkra, hogy ehhez a városhoz közeli helyszínt keressünk magunknak. Így nemcsak könnyebben tudtuk/tudjuk  intézni az esküvő ügyeit, de sikerült egy számunkra másik nagyon fontos szempontnak is megfelelő helyet találni, vagyis olyat, amely természetközeli és elég csendes.
      </div>
      <div class="text-block">
        Ez a helyszín Szigetvárhoz közel található és minden szempontból megfelelt a mi elvárásainknak.
      </div>
      <div class="text-block">
        Az időpont tekintetében fontos volt számunkra, hogy ne legyen se túl hideg, se túl meleg, így esett áprilisra a választás.
      </div>
      <div class="text-block">
        Ahhoz hogy a lehető legjobban sikerüljön  a nagy nap, szerettünk volna profi segítséget kérni, ezért felfogadtunk egy esküvőszervezőt, aki nemcsak végigkísérte a szervezés folyamatát, hanem a nagy napon a ceremóniamesterünk is ő lesz.
      </div>
      <div class="text-block">
        Azonban közületek is sokan voltak, akik segítettek és segítenek, a szervezésben, például fotós ajánlásával, a ruha kiválasztásával, készítettésének szervezésével, a meghívókkal, különböző ötletekkel, honlap elkészítésével.
      </div>
      <div class="text-block">
        Most csak a teljesség igénye nélkül soroltunk fel pár dolgot, amiben nagy segítséget adtatok. Ezúton is nagyon köszönjük Nektek!
      </div>
    </div>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-vertical" src="../../assets/home4.jpg"/>
  </div>
</app-simple-block>
<app-split-block>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/home5.jpg"/>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image-horizontal" src="../../assets/home6.jpg"/>
  </div>
  <div class="unit col-md-12 col-xl d-flex justify-content-center">
    <div>
      <div class="text-block">
        Mielőtt belevágnánk a nagy nap menetének ismertetésébe, még pár dolgot szeretnénk, ha figyelembe vennétek, mielőtt elindultok az esküvőnkre.
      </div>
      <div class="text-block">
        Nem szeretnénk senkit sem korlátolni abban, hogy mit csináljon, vagy viseljen az esküvőn, hiszen szeretnénk, hogy mindenki a lehető legjobban érezze magát.
      </div>
      <div class="text-block">
        Azonban arra szeretnénk megkérni, elsősorban a lányokat/hölgyeket, hogy a teljesen fehér, illetve a teljesen fekete ruhaviseletet, ha lehet, hanyagoljátok.
      </div>
      <div class="text-block">
        Ezen kívül, arra kérünk Benneteket, hogy számunkra a leghasznosabb, és legegyszerűbb ajándékot válasszátok nászajándékoként, ami belefér egy borítékba.
      </div>
    </div>
  </div>
</app-split-block>
<app-simple-block>
  <div class="slider-col col-xl d-flex justify-content-center">
    <ng-image-slider class="slider" [images]="imageObject" [infinite]="true" [imageSize]="{width: 300, height: 300, space: 5}" [autoSlide]="3"></ng-image-slider>
  </div>
</app-simple-block>
