<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img src="../../assets/grape.png" class="left-image d-none d-lg-block">
      <div class="quote">
        <div class="quote-line">Mi nem hirdetjük fennen hangos szóval,</div>
        <div class="quote-line">Csak Te, csak Én, örökké és holtomiglan,</div>
        <div class="quote-line">Mi megpróbálunk csendben boldogok lenni,</div>
        <div class="quote-line">Lelkünk mélyén őszintén igazán szeretni.</div>
        <div class="author">Stendhal</div>
      </div>
      <img src="../../assets/grape.png" class="right-image d-none d-lg-block">
    </div>
  </div>
</div>
<app-split-block>
  <div class="text-unit col-sm d-flex justify-content-center">
    <div class="text-block">
      <div class="text">
        Sok szeretettel köszöntünk az esküvői honlapunkon!
      </div>
      <div class="text">
        Azért hoztuk létre ezt az oldalt, hogy több információt, hasznos tudnivalót meg tudjunk osztani Veletek!
      </div>
      <div class="text">
        Külön menüpontokba szedtük az egyházi és polgári szertartás részleteit, a parkolási lehetőségeket és azt, milyen lehetőségetek lesz szállást foglalni.
      </div>
      <div class="text">
        De ne szaladjunk előre. 🙂 Mesélünk kicsit a kezdetekről.
      </div>
    </div>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image" src="https://drive.google.com/uc?export=view&id=1kptOMs-mPRCeAmvBboj7ilrTV78ZPAK0"/>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image" src="https://drive.google.com/uc?export=view&id=1BPK7gL4eKov3m0ozNf64_86bbDA4QTsM"/>
  </div>
</app-split-block>
<app-simple-block>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image" src="https://drive.google.com/uc?export=view&id=17aYsRhZ5Zz8hvfeZd155hyQNrDOSRUOk"/>
  </div>
  <div class="text-unit col-sm d-flex justify-content-center">
    <div class="text-block">
      <div class="text">
        2021 szilvesztere, tehát az eljegyzésünk éjszakája óta gondolkodunk rajta milyen is legyen ez a számunkra igazán különleges nap.
      </div>
      <div class="text">
        Mivel mind a ketten Pécsett éltünk az elmúlt években és most is ott töltjük mindennapjainkat, Pécshez közeli helyet kerestünk, ami ugyanakkor természetközeli környezetet
        tud biztosítani az esküvő helyszínének. Ehhez az egyik kedvenc hónapunkant, mikor nincs se túl hideg, se túl meleg, áprilist választottuk.
      </div>
      <div class="text">
        Az esküvő komolyabb szervezésének kezdete idén tavaszra tehető, mikor is, szintén áprilisban, elkészültek az eljegyzési fotóink, melyek közül a kedvenceinket mutatjuk meg nektek is itt a honlapon.
      </div>
      <div class="text">
        Közületek is többen voltak, akik segítettek ötleteikkel, tanácsaikkal az esküvő különböző részleteiben, amit ezúton is köszönünk.
      </div>
    </div>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image" src="https://drive.google.com/uc?export=view&id=1HD_tUigTWEIpg4nFpHK90GIwf1k4sbw5"/>
  </div>
</app-simple-block>
<app-split-block>
  <div class="unit col-xl d-flex justify-content-center">
    <img class="image" src="https://drive.google.com/uc?export=view&id=1UYEPqjebXDg6-RUlSSkJBM4R88zalUPF"/>
  </div>
  <div class="text-unit col-sm d-flex justify-content-center">
    <img class="image" src="https://drive.google.com/uc?export=view&id=1vvUtsUdaYkpywPMr8D56gdLmK29y3-Sh"/>
  </div>
  <div class="unit col-xl d-flex justify-content-center">
    <div class="text-block">
      <div class="text">
        Nem szeretnénk senkit sem korlátolni abban, hogy mit csináljon, vagy viseljen az esküvőn, hiszen szeretnénk, hogy mindenki a lehető legjobban érezze magát.
      </div>
      <div class="text">
        Azonban arra szeretnénk megkérni, elsősorban a lányokat/hölgyeket, hogy a teljesen fehér, illetve a teljesen fekete ruhaviseletet, ha lehet, hanyagoljátok.
      </div>
      <div class="text">
        Ezen kívül, arra kérünk Benneteket, hogy a számunkra a leghasznosabb, és legegyszerűbb nászajándéknak számító ajándékot válasszátok, tehát azt, ami belefér egy borítékba.
      </div>
    </div>
  </div>
</app-split-block>
<app-simple-block>
  <div class="slider-col col-xl d-flex justify-content-center">
    <ng-image-slider class="slider" [images]="imageObject" [infinite]="true" [imageSize]="{width: 300, height: 300, space: 5}" [autoSlide]="3"></ng-image-slider>
  </div>
</app-simple-block>
