@import "../style/global";
@import "node_modules/bootstrap/scss/bootstrap";

.left-image {
  height: 120px;
}

.right-image {
  height: 120px;
  transform: scaleX(-1);
}

.quote {
  width: 380px !important;
}

.quote-line {
  font-family: $menu-font;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1;
}

.author {
  font-family: $title-font;
  font-size: 2rem;
  padding: 10px;
  text-align: right;
}

.text-block {
  display: block;
  max-width: 600px
}

.text {
  padding: 10px;
}

.slider-col {
  width: 100%;
}

.slider {
  width: 80%;
}
